<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<li><a th:text="|${member.name} 님, 반갑습니다.|">환영인사</a></li>

<li><a th:href="@{/logout}">로그아웃</a></li>

<hr>

<div>

    <div class="py-5 text-center">
        <h2>게시글 등록 폼</h2>
    </div>

</div>

<div>
    <li><a th:href="@{/postNew}">글쓰기</a></li>
    <table class="table">
        <thead>
        <tr>
            <th>글번호</th>
            <th>유저ID</th>
            <th>제목</th>
            <th>날짜</th>
            <th>회원여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.bno}">글번호</td>
            <td th:text="${post.username}">유저ID</td>
            <td> <a th:href="@{|/post/${post.bno}|}" th:text="${post.title}">제목</a></td>
            <td th:text="${post.date}">날짜</td>
            <td th:text="${post.whetherLogin}">회원여부</td>
        </tr>
        </tbody>
    </table>
</div>





</body>
</html>